<footer class="footer">
        © 2020 Loftera. Implemented by <a href="https://github.com/icarodemorais" class="text-primary-new" target="_blank">@icaro</a> and <a href="https://github.com/CinthiaYamamotoMa" class="text-primary-new">@cinthia</a>
</footer>

