<p class="text-muted m-b-30">
        Seu currículo e a resposta do desafio foram analisados por nós
    do Dev e pelo RH e você foi <span style="color: rgb(51, 160, 0);">APROVADO</span>.
    Entraremos em contato para <b>agendar uma entrevista</b>.
</p>