<p class="text-muted m-b-30"> 
    Faaala dev, ao lado direito você pode acompanhar o cronograma
    de cada fase do processo e ao final de cada fase nós iremos entrar em contato via e-mail
    e sms informando sobre o que ta acontecendo.
    Cada fase terá sua descrição informando o que deve ser feito.
    Ao final de cada fase de avaliação (as quatro ali em cima), você saberá se vai continuar
    no processo ou não.
    Ao final, os candidatos selecionados serão convocados para a última etapa do processo
    que é uma entrevista.
</p>